
/*=============================
共通汎用クラス
==============================*/

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}



a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}



li {
  list-style: none;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

.title {
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}

.btn {
  margin: 0 auto;
  width: 170px;
  line-height: 50px;
  background-color: #1b813e;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  box-shadow: none;
}

.btn a {
  display: block;
  color: #fff;
}

.btn a:active {
  transform: translateY(1px);
}

.row {
  margin-bottom: 30px;
}

body .bx-wrapper {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.to_top {
  background-color: rgba(255, 255, 255, 0.1);
  width: 50px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: -100px;
  right: 110px;
  transition: 1s;
}

.to_top a {
  display: block;
  color: rgba(0, 0, 0, 0.7);
}

.to_top:hover {
  background-color: rgba(255, 255, 255, 1);
}

.to_top a:hover {
  color: rgba(0, 0, 0, 1);
}

.to_top .material-icons {
  line-height: 2;
}

/*=============================
トップページ
==============================*/

/*==============
ヘッダー
===============*/

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* header .header_logo {
  width: 100px;
  height: 100px;
} */

header nav > ul {
  display: flex;
  line-height: 100px;
}

header nav ul li:nth-child(-n+5) {
  margin-right: 30px;
} 

header nav ul li a {
  color: #73412F;
  padding-top: 20px;
  padding-bottom: 20px;
}

header nav ul li a:hover {
  opacity: 0.7;
}

header nav ul li ul {
  visibility: hidden; 
  position: absolute;
  z-index: 10;
  width: 140px;
}

header nav ul li ul li {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1;
}

header nav ul li ul li a {
  display: block;
}



header nav > ul > li:hover >ul {
  visibility: visible;
  opacity: 1;
}

/*==============
季節のお花
===============*/

#top_page .season_flower .season_wrap {
  display: flex;
  justify-content: space-between;
}

#top_page .season_wrap figure {
  text-align: center;
}

#top_page .season_wrap p:first-child {
  margin-bottom: 5px;
}

#top_page .season_wrap figure figcaption + p {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border-left: 1px solid rgba(51, 51, 51, 0.3);
}


#top_page .season_wrap figure figcaption span {
  font-size: 16px;
}

/*==============
ギフト
===============*/

#top_page .top_gift .gift_wrap {
  display: flex;
  justify-content: space-between;
}

#top_page .gift_wrap .gift_items {
  text-align: center;
}

#top_page .gift_wrap .gift_items p:first-child {
  margin-bottom: 5px;
}

#top_page .gift_wrap .gift_items h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}

/*==============
Sunfay Flower概要
===============*/

#top_page .sunday_about {
  text-align: center;
}

#top_page .sunday_about h2 {
  margin-bottom: 0;
  margin-bottom: 30px;
}



#top_page .sunday_about p {
  margin: 0 auto;
  width: 800px;
  line-height: 2;
  font-size: 22px;
}

/*==============
お知らせ
===============*/

#top_page .top_info .info_wrap {
  display: flex;
  justify-content: space-between;
}

#top_page .info_wrap .info_items p {
  margin-bottom: 5px;
}

#top_page .info_wrap .info_items p img{
  border-radius: 200px;
}

#top_page .info_wrap .info_items dl {
  text-align: center;
}


#top_page .info_wrap .info_items dt {
  margin-bottom: 10px;
}

#top_page .info_wrap .info_items dd {
  font-size: 16px;
}

/*==============
フッター
===============*/

footer {
  margin-top: 70px;
}

footer .inner .footer_wrap {
  display: flex;
  justify-content: space-evenly;
  height: 350px;
  align-items: center;
  border-left: #1b813e 10px double ;
  /* background-image: linear-gradient(to right,
  rgba(27,129,62,0.8) 5%, 
  transparent 20%);
  border-radius: 200px;  */

}

.footer_wrap .footer_left address dl {
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer_wrap .footer_left address dt {
  width: 100px;
}
.footer_wrap .footer_left .sns {
  padding-top: 30px;
}

.footer_wrap .footer_left .sns a {
  color: #333;
}

.footer_wrap .footer_left .sns a:first-child,
.footer_wrap .footer_left .sns a:nth-child(2) {
  margin-right: 20px;
}

.footer_wrap .footer_right p {
  padding-top: 10px;
}

footer .inner .copy_right {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 10px;
}

/*=============================
下層共通
==============================*/

/*==============
グリッドレイアウト
===============*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  gap: 10px;
}

.grid dd {
  text-align: center;
}

.grid dd:nth-of-type(1) {
  margin-top: 5px;
  margin-bottom: 10px;
}

/*==============
OPTION
===============*/

.option {
  text-align: center;
}

.option h2 {
  margin-bottom: 15px;
}

.option .inner p:first-of-type {
  margin-bottom: 10px;
}

.option .inner p:nth-of-type(2) {
  font-size: 10px;
}

.option .option_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.option .option_wrap dl dd:nth-of-type(1) {
  margin-top: 5px;
  margin-bottom: 10px;
}

/*==============
pager
===============*/

.pager {
  text-align: center;/*後でright*/
  margin-top: 50px;
  margin-bottom: 30px;
}

.peger_bottom {
  margin-bottom: 0;
}

.pager ul li {
  display: inline-block;
  background-color: rgba(27, 129, 62, 0.7);/*仮色*/
  width: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
}

.pager ul li:hover {
  background-color: rgba(27, 129, 62, 1);
}

.pager ul .current {
  background-color: rgba(27, 129, 62, 1);
}


.pager ul li a {
  display: block;
  color: #fff;
}

.pager ul li .this {
  color: #fff;
}

.pager ul li a:hover {
  color: #333;
}


/*=============================
Flower
==============================*/

/*=============================
GIFT
==============================*/

/*==============
Gift key
===============*/

.gift_key {
  background-image: url(../images/gift_main.jpg);
  height: 300px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.gift_key .gift_key_wrap p{
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}

.gift_key .gift_key_wrap p span {
  font-size: 22px;
}

/*==============
Gift ページャー
===============*/

#gift .pager {
  margin-top: 50px;
  margin-bottom: 30px;
}


#gift .pager ul {
  display: flex;
  justify-content: space-evenly;
}

#gift .pager ul li {
  background-color: rgba(27, 129, 62, 0.7);/*仮色*/
  width: 150px;
  line-height: 50px;
  text-align: center;
  border-radius: 75px;
}

#gift .pager ul .current {
  background-color: rgba(27, 129, 62, 1);

}


#gift .pager ul li:hover {
  background-color: rgba(27, 129, 62, 1);
}


#gift .pager ul li a {
  display: block;
  color: #fff;
}

#gift .pager ul li .this {
  color: #fff;
}

#gift .pager ul li a:hover {
  color: #333;
}

/*=============================
NEWS
==============================*/

#news .title {
  margin-top: 0;
}

/*==============
ページャー
===============*/

#news .pager {
  text-align: center;/*後でright*/
  margin-top: 50px;
  margin-bottom: 50px;
}

/*==============
メイン
===============*/

#news .news_wrapper .inner {
  margin: 0 auto;
} 

#news .news_wrapper .news_box {
  display: flex;
  margin-bottom: 70px;
}

#news .news_wrapper .news_box img{
  width: 500px;
  height: 300px;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

#news .news_wrapper .news_box .news_text {
  width: 400px;
  margin-left: 50px;
  padding-left: 10px;
  border-left: 3px solid #1b813e;
}

#news .news_wrapper .news_box .news_text dl {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#news .news_wrapper .news_box .news_text dl dt {
  margin-bottom: 5px;
}

#news .news_wrapper .news_box .news_text dl dd {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

#news .news_wrapper .news_box .news_text p {
  line-height: 1.5;
}

/*=============================
contact
==============================*/

.contact_wrapper {
  background-image: url(../images/contact_main.jpg);
  background-size: cover;/*これで画面に合わせて縮小する*/
  background-position: center center;




} 

.contact_wrapper .title {
  margin-top: 0;
  padding-top: 30px;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
  border-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;/*仮*/
  border-radius: 5px;
  padding: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  width: 100%;
  max-width: 300px;
}

/*フォームの一部分だけ長さを変える方法*/



form textarea {
  width: 100%;
  max-width: 480px;
  height: 200px;
}

form input[type="submit"] {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 170px;
  line-height: 3;
  background-color: #0bd;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}




/*
  margin: 0 auto;
  width: 170px;
  line-height: 50px;
  background-color: #1b813e;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
*/

























